// BUTTON

  .btn {
    font-family: 'Oswald', sans-serif;
    background-color: transparent;
    font-size: 20px;
    padding: 7px 24px 9px;
    min-width: 166px;
    max-width: 100%;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1;
    color: $white;
    border-radius: 9999px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    border: 4px solid $link;
    overflow: hidden;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: color ease-in-out .3s;
    text-decoration: none;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: $link;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all ease-in-out .3s;
    }

    &:visited {
      color: $white;
    }

    &:hover {
      color: $link;

      &:before {
        transform: translateX(100%);
      }
    }

    &.-secondary {
      color: $white;
      border-color: $link-sec;
      &:before {
        background: $link-sec;
      }
      &:hover {
        color: $link-sec;
      }
    }

    &.-ghost {
      color: $link;
      &:before {
        transform: translateX(100%);
      }
      &:hover {
        color: $white;
        &:before {
          transform: translateX(0);
        }
      }
      &.-secondary {
        color: $link-sec;
        &:hover {
          color: $white;
        }
      }

    }

    &.-small{
      min-width: unset;
      font-size: 18px;
      padding: 5px 20px 7px;
    }

    // 768px
    @media screen and (min-width: 768px)  {
      font-size: 24px;
      padding: .3em .3em .42em;
      min-width: 200px;
      &.-small{
        font-size: 20px;
      }
    }

    // 1024px
    @media screen and (min-width: 1024px)  {
      font-size: 28px;
      &.-small{
        font-size: 22px;
      }
    }

    // 1280px
    @media screen and (min-width: 1280px)  {
      font-size: 30px;
      min-width: 250px;
      &.-small{
        font-size: 24px;
      }
    }

    // 1440px
    @media screen and (min-width: 1440px)  {
      font-size: 32px;
      min-width: 295px;
    }





 }
