
//
// SITE - PATTERNS
//

body {

  .-bg-pattern-light {
    background-color: $white;
    background-image: url('../../patterns/bg-curves-dark.svg');
    background-size: cover;
    background-position: center center !important;
    background-attachment: fixed;
  }

  .-bg-pattern-dark {
    background-color: $grey1;
    background-image: url('../../patterns/bg-curves-light.svg');
    background-size: cover;
    background-position: center center !important;
    background-attachment: fixed;
  }

  // GLOBAL BACKGROUNDS

  .-bg-stripe-pink{
      background: repeating-linear-gradient(
        -45deg,
        transparent,
        $pink 1px,
        transparent 2px,
        transparent 4px
      );
  }

  .-bg-solid-pink,
  .-bg-pink {
      background-color: $pink; 
  }

}







